body {
    font-family: 'Lato', sans-serif;
}

.habits-list {
    list-style: none;
    padding: 0;
}
  
.habits-list__fallback {
    color: white;
    text-align: center;
}

.habit {
    margin: 2rem auto;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(233, 231, 231);
}
  
.habits-list ul {
    list-style: none;
    padding: 1rem;
}
  
.habits-list li {
    /* border: 1px solid #ccc; */
    margin: 0.5rem 0;
    padding: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.habit__description {
    display: inline-block;
    /* padding: 5px 20px; */
    /* gap: 1rem;
    align-items: center;
    flex-flow: column-reverse;
    justify-content: center;
    flex: 1; */
}
  
.habit__description h2 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    flex: 1;
    margin: 0 1rem;
    color: white;
    display: inline-block;
    text-align: left;
    
}

.new-habit {
    background-color: rgb(233, 231, 231);
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
  
.new-habit button {
    font: inherit;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.05em;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid rgba(135, 206, 250, 0.76);
    background-color: rgba(135, 206, 250, 0.76);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
    text-align: center;
    justify-content: center;
}
  
.new-habit button:hover,
.new-habit button:active {
    background-color: rgb(135, 206, 250);
    border-color: rgba(135, 206, 250, 0.76);
}
  
.new-habit button.alternative {
    color: rgba(135, 206, 250, 0.76);
    border-color: transparent;
    background-color: transparent;
}
  
.new-habit button.alternative:hover,
.new-habit button.alternative:active {
    background-color:  rgb(135, 206, 250);
}

.new-habit__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: cetner;
    align-items: center;
    justify-content: center;
  }
  
  .new-habit__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    text-align: center;
    justify-content: center;
  }
  
  .new-habit__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
    text-align: center;
    justify-content: center;
  }
  
  .new-habit__actions {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .habit span.outer-circle-not-completed {
    display: inline-flex;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: rgb(211, 211, 211);
    margin: 0px 25px;
    justify-content: center;
    align-items: center;
    /* box-shadow: 2.5px 2px 3px 0px rgb(122 202 122 / 0.5), 0 2px 5px rgb(122 202 122 / 0.5); */
    box-shadow: 2.5px 2px 3px 0px #f1eaea, 0 2px 5px #f1eaea;
  }

  .habit span.outer-circle-completed{
    background-color: rgb(107, 196, 107);
    display: inline-flex;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin: 0px 25px;
    justify-content: center;
    align-items: center;
  }

  .inner-circle {
    background-color: #f1eaea;
    display: inline-flex;
    height: 4.75rem;
    width: 4.75rem;
    border-radius: 52.5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    color: rgb(146, 143, 143);
    font-weight: 600;
    letter-spacing: 0.05em;
  }


